* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#head-nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#site-title,
#inactive {
  text-decoration: none;
}

#head-nav a,
li {
  list-style: none;
}

#site-title {
  font-family: "STIX Two Text";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 90px;
  color: #292929;
}

#nav-btn {
  width: 100px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0.5px solid grey;
}

#btn-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  width: 22px;
  height: 22px;
  color: white;

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

#nav-btn:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

#nav-list {
  width: 40%;
}

#nav-list ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-list a {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #292929;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#nav-list a:hover {
  text-shadow: 0 0 15px black;
  color: white;
}

#nav-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* End of navbar */

#main-content {
  position: relative;
  width: 80%;
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#products-folder-structure {
  width: 100%;
  margin: 70px 0 50px 0;
  display: flex;
  justify-content: flex-start;
}

#products-folder-structure p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 52px;
  color: #bcb7b7;
}

#black {
  color: #000000;
}

#product-details {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
  /* padding: 0 0 -2 0; */
  border: 1px solid black;
}

#left {
  box-sizing: border-box;
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left img {
  width: 100%;
  height: 100%;
}

#right {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right-one {
  box-sizing: border-box;
  margin: -2px -2px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 115px;
  border: 1px solid black;
}

#rt-1 {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 97.6%;
  color: #333333;
}

#right-two {
  box-sizing: border-box;
  margin: -1px -2px 0 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 586px;
  border: 1px solid black;
}

#right-three,
#right-four,
#right-five {
  box-sizing: border-box;
  margin: -1px -2px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 110px;
  border: 1px solid black;
  border-bottom: none;
}

#explore-more {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 50px 0;
  padding: 0 20px;
  width: 100%;
  height: 114px;
  background: #ffffff;
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

#explore-more p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 97.6%;
  color: #333333;
}

#explore-arrows {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lft-pt,
#rgt-pt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  border: 1px solid black;
  border-radius: 50%;
}

#similar-products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 50px 20%;
}

.similar-prod-img {
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  margin: 0 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 529px; */
  width: fit-content;
  height: 579px;
  background: #ffffff;
  border: 1px solid #333333;
}

#hide-img {
  visibility: hidden;
}

.similar-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.prod-img {
  width: 420px;
  height: 421px;
  background: url(.jpg), #d9d9d9;
}

.similar-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-two-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#creator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#creator p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 97.6%;
  color: #616161;
}

#btm-rt-blue {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 97.6%;
  color: #4693ed;
}

#made-in {
  width: 100%;
  display: flex;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 97.6%;
  color: #000000;
}

#views {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 97.6%;
  color: #000000;
}

#qty-to-order {
  width: 100%;
  display: flex;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 97.6%;
  color: #333333;
}

#subtract,
#add {
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 97.6%;
  color: #333333;
}

#add {
  display: flex;
  justify-content: flex-end;
}

#btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 87px;
  width: 315px;
  height: 79px;
  background-image: url("/images/right-arrow-2.png");
  background: #3341c1;
  border-radius: 3px;
  border: none;
}

.similar-bottom p {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 97.6%;
  color: #333333;
}

.bottom-right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bottom-section {
  margin-bottom: 200px;
}

#see-more {
  border: 2px solid;

  box-sizing: border-box;
  margin-top: 50px;
  width: 249px;
  height: 73px;
  /* background: none; */
  border-radius: 16px;

  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 97.6%;
  /* or 35px */

  background: linear-gradient(
    94.97deg,
    #78a3ad 24.64%,
    rgba(192, 86, 9, 0.49) 118.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

@media screen and (max-width: 600px) {
}
